.btn-fab {
  z-index: 1050;

  border-radius: 32px;
  border: none;

  color: #FD7914;
  transition: all 0.3s ease;

  height: 44px;

  span {
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
    font-weight: bold;
  }
}

.icon-btn-fab {
  z-index: 1050;

  border-radius: 32px;
  border: none;

  transition: all 0.3s ease;

  width: 44px;
  height: 44px;

  img {
    width: 36px;
    height: 36px;
  }
}

@media (min-width: 768px) {
  .btn-fab {
    display: none !important;
  }

  .off-canvas {
    display: none !important;
  }
}

.off-canvas {
  border-radius: 32px;
  border: none;
}

.off-canvas-footer {
  display: flex;
  justify-content: center;
}

.off-canvas-footer .btn-close {
  button {
    filter: invert(1) brightness(1.2);
  }
}

.sidebar-item {
  display: flex;
  align-items: center;
  justify-content: start;
  color: #fcfcfc;
  color: #ccc;
  text-decoration: none;
  transition: all 0.3s ease;

  span {
    font-size: 14px;
    font-weight: bold;
  }
}

.bg-blur {
  background-color: rgba(255, 255, 255, 0.1); /* Orange accent color */
  background-blend-mode: normal;
  backdrop-filter: blur(37px) brightness(115%) !important;
}
