.sidebar {
  width: 400px;
  background: #171717;
  background-blend-mode: normal;
  border-color: #171717;
  backdrop-filter: blur(5px) brightness(15%) opacity(0%);

  padding: 4rem 1.5rem;

  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.58);
}

.sidebar-item {
  display: flex;
  align-items: start;
  justify-content: start;
  color: #fcfcfc;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-bottom: 30px;
  margin-right: 10px;
  cursor: pointer;
  height: 40px;

  span {
    font-size: 14px;
    font-weight: bold;
    padding-left: 15px;
  }
}

.sidebar-item:hover {
  color: #fd7914;
}

.sidebar-item-active {
  display: flex;
  align-items: start;
  justify-content: start;
  color: #fd7914;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-bottom: 40px;
  margin-right: 10px;
  cursor: pointer;

  span {
    font-size: 14px;
    font-weight: bold;
    padding-left: 15px;
  }
}

.breadcrumb {
  background-color: transparent;
}

.custom-breadcrumb-item{
  cursor: pointer;

  a {
    color: #fcfcfc;
  }

  a:hover {
    color: #fd7914 !important;
  }
}

.custom-breadcrumb-item-active{
  cursor: default;

  a {
    color: #fd7914;
  }
}

.custom-breadcrumb-separator{
  margin-right: 0.3rem;
  margin-left: 0.3rem;
  color: #fcfcfc;
}

.custom-breadcrumb-separator-active{
  margin-right: 0.3rem;
  margin-left: 0.3rem;
  color: #fd7914;
}

.custom-breadcrumb-item::before {
  content: none;
}

