<div class="sidebar h-100">
  <div class="sidebar-content px-1 py-2">
    <!-- Breadcrumb -->
    <nav>
      <ol class="breadcrumb" style="margin-bottom: 40px;">
        <li class="custom-breadcrumb-item">
          <a (click)="navigateToHome()" class="link-underline link-underline-opacity-0">
            {{ 'sidebar-breadcrumb-home' | translate }}
          </a>
        </li>
        @if (isCommunityPath) {
          <li class="custom-breadcrumb-separator-active">
            /
          </li>
          <li class="custom-breadcrumb-item-active">
            <a class="link-underline link-underline-opacity-0">
              {{ 'sidebar-breadcrumb-community' | translate }}
            </a>
          </li>
        } @else {
          <li class="custom-breadcrumb-separator">
            /
          </li>
          <li class="custom-breadcrumb-item">
            <a (click)="navigateToCommunity()" class="link-underline link-underline-opacity-0">
              {{ 'sidebar-breadcrumb-community' | translate }}
            </a>
          </li>
          <li class="custom-breadcrumb-separator-active">
            /
          </li>
          @if (isAmbassadorPath) {
            <li class="custom-breadcrumb-item-active">
              <a class="link-underline link-underline-opacity-0">
                {{ 'sidebar-breadcrumb-ambassador' | translate }}
              </a>
            </li>
          }
          @if (isCasinoPath) {
            <li class="custom-breadcrumb-item-active">
              <a class="link-underline link-underline-opacity-0">
                {{ 'sidebar-breadcrumb-casino' | translate }}
              </a>
            </li>
          }
          @if (isCryptoPath) {
            <li class="custom-breadcrumb-item-active">
              <a class="link-underline link-underline-opacity-0">
                {{ 'sidebar-breadcrumb-crypto' | translate }}
              </a>
            </li>
          }
          @if (isGiveawaysPath) {
            <li class="custom-breadcrumb-item-active">
              <a class="link-underline link-underline-opacity-0">
                {{ 'sidebar-breadcrumb-giveaways' | translate }}
              </a>
            </li>
          }
          @if (isOffersPath) {
            <li class="custom-breadcrumb-item-active">
              <a class="link-underline link-underline-opacity-0">
                {{ 'sidebar-breadcrumb-offers' | translate }}
              </a>
            </li>
          }
        }
      </ol>
    </nav>

    <!-- Navigation Items -->
    <div class="sidebar-nav">
      @if (isOffersPath) {
        <a (click)="navigateToOffers()" class="sidebar-item-active">
          <img ngSrc="icons/chevron-right.svg" alt="" height=20 width=20>
          <span>
            {{ 'sidebar-link-1' | translate }}</span>
        </a>
      } @else {
        <a (click)="navigateToOffers()" class="sidebar-item">
          <img ngSrc="icons/chevron-right.svg" alt="" height=20 width=20>
          <span>
            {{ 'sidebar-link-1' | translate }}</span>
        </a>
      }

      @if (isCasinoPath) {
        <a (click)="navigateToCasino()" class="sidebar-item-active">
          <img ngSrc="icons/chevron-right.svg" alt="" height=20 width=20>
          <span>
            {{ 'sidebar-link-2' | translate }}</span>
        </a>
      } @else {
        <a (click)="navigateToCasino()" class="sidebar-item">
          <img ngSrc="icons/chevron-right.svg" alt="" height=20 width=20>
          <span>
            {{ 'sidebar-link-2' | translate }}</span>
        </a>
      }

      @if (isCryptoPath) {
        <a (click)="navigateToCrypto()" class="sidebar-item-active">
          <img ngSrc="icons/chevron-right.svg" alt="" height=20 width=20>
          <span>
            {{ 'sidebar-link-3' | translate }}</span>
        </a>
      } @else {
        <a (click)="navigateToCrypto()" class="sidebar-item">
          <img ngSrc="icons/chevron-right.svg" alt="" height=20 width=20>
          <span>
            {{ 'sidebar-link-3' | translate }}</span>
        </a>
      }

      @if (isGiveawaysPath) {
        <a (click)="navigateToGiveaways()" class="sidebar-item-active">
          <img ngSrc="icons/chevron-right.svg" alt="" height=20 width=20>
          <span>
            {{ 'sidebar-link-4' | translate }}</span>
        </a>
      } @else {
        <a (click)="navigateToGiveaways()" class="sidebar-item">
          <img ngSrc="icons/chevron-right.svg" alt="" height=20 width=20>
          <span>
            {{ 'sidebar-link-4' | translate }}</span>
        </a>
      }

      @if (isAmbassadorPath) {
        <a (click)="navigateToAmbassador()" class="sidebar-item-active">
          <img ngSrc="icons/chevron-right.svg" alt="" height=20 width=20>
          <span>
            {{ 'sidebar-link-5' | translate }}</span>
        </a>
      } @else {
        <a (click)="navigateToAmbassador()" class="sidebar-item">
          <img ngSrc="icons/chevron-right.svg" alt="" height=20 width=20>
          <span>
            {{ 'sidebar-link-5' | translate }}</span>
        </a>
      }
    </div>
  </div>
</div>

