.hero-title {
  font-size: 42px;
  font-weight: bold;
  color: #fcfcfc;
}

.hero-icon {

  height: 50px;
  width: 50px;
  padding: 0;

  border-radius: 50%;

  &:hover {
    background: #4a4a4a;
    transform: translateY(-1px);
  }

  svg {
    margin: auto;
    height: 100%;
    width: 100%;
    fill: #6c6c6c;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      fill: #fd7914;
    }
  }
}

.hero-description {
  font-size: 18px;
  color: #fcfcfc;
  margin-bottom: 120px;


  a {
    color: #fd7914;
  }
}

.section-title {
  font-size: 28px;
  font-weight: bold;
  color: #fcfcfc;
  margin-bottom: 40px;
}

.offer-card {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}

.offer-image {
  max-width: 400px;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 22px;
  border: 1px solid rgba(149, 149, 149, 0.5);
  margin-bottom: 30px;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  &:hover {
    opacity: 1;

    img {
      transform: scale(1.05);
    }
  }
}

.offer-content {
  max-width: 400px;
}

.offer-title {
  font-size: 18px;
  font-weight: bold;
  color: #fcfcfc;
  margin-bottom: 20px;
  cursor: pointer;

  &:hover {
    color: #fd7914;
  }
}

.offer-description {
  font-size: 14px;
  color: #fcfcfc;
  text-align: justify-all;
  margin-bottom: 40px;
}

.scroll-bar-hide::-webkit-scrollbar {
  display: none;
}

.scroll-bar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 576px) {
  .hero-title {
    font-size: 34px;
  }

  .hero-description {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .hero-description {
    margin-bottom: 40px;
  }

  .section-title {
    display: none;
  }
}
