.hero-title {
  font-size: 42px;
  font-weight: bold;
  color: #fcfcfc;
  margin-bottom: 24px;
}

.hero-description {
  font-size: 18px;
  line-height: 1.2;
  color: #fcfcfc;
  margin-bottom: 0.5rem;
}

.hero-description span {
  color: #fd7914;
}

.section-title {
  font-size: 28px;
  font-weight: bold;
  margin: 2rem 0;
  color: #fcfcfc;
}

.offer-card {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.offer-image {
  max-width: 500px;
  height: 250px;
  overflow: hidden;
  border-radius: 22px;
  border: 1px solid rgba(149, 149, 149, 0.5);
  margin-bottom: 30px;
}

.offer-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.offer-content {
  max-width: 400px;
}

.offer-title {
  font-size: 18px;
  font-weight: bold;
  color: #fcfcfc;
  margin-bottom: 20px;
}

.offer-description {
  font-size: 14px;
  color: #fcfcfc;
  text-align: justify-all;
}

.offer-image:hover  {
  opacity: 1;
}

.offer-image:hover img {
  transform: scale(1.05);
}

@media (max-width: 576px) {
  .hero-title {
    font-size: 2.5rem;
  }

  .offer-image {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .hero-title {
    font-size: 34px;
  }

  .hero-description {
    font-size: 12px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .offer-image {
    height: 180px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .offer-image {
    height: 180px;
  }
}

@media (min-width: 1400px) {
  .offer-image {
    height: 300px;
  }
}


