<div class="d-flex align-items-center layout-wrapper">
  <div class="container d-flex justify-content-center my-4"
       style="max-width: 1020px;">
    <div class="position-relative" #rowContainer>
      <div class="row justify-content-center row-cols-1 row-cols-md-3 g-0"
           style="border-radius: 22px !important;" #mainRow>

        <!-- Text Panel -->
        <div class="col-auto col-sm-8 col-md">
          <div class="card card-bg text-panel-border">
            <img ngSrc="images/telegram-artboard.jpg" height="510" width="340" class="card-img text-panel-border"
                 alt="...">
            <div class="card-img-overlay text-panel-border p-0" style="background: #121212 !important;">
              <div class="d-flex flex-column h-100">
                <div class="text-card-content h-100">
                  <div class="text-md-end text-start mb-1 mt-4 mt-md-5">
                    <p class="title text-uppercase">
                      {{ 'home-text-panel-title' | translate }}
                    </p>
                    <p class="description" [innerHTML]="'home-text-panel-description' | translate"></p>
                  </div>
                </div>
                <div class="text-card-icons text-start text-md-end flex-shrink-1">
                  <a href="https://www.instagram.com/white_label_casinos/" class="pe-2 pe-md-3" role="button" tabindex="0" target="_blank">
                    <img ngSrc="icons/instagram.svg" height="20" width="20">
                  </a>
                  <a href="https://facebook.com/Whitelabelcasinos" class="px-2 px-md-2" role="button" tabindex="0" target="_blank">
                    <img ngSrc="icons/facebook-square.svg" height="20" width="20">
                  </a>
                  <a href="https://www.linkedin.com/company/white-label-casinos/" class="px-2 px-md-3" role="button" tabindex="0" target="_blank">
                    <img ngSrc="icons/linkedin.svg" height="20" width="20">
                  </a>
                  <a href="https://www.youtube.com/@WhiteLabelCasinos" class="ps-2 ps-md-2" role="button" tabindex="0" target="_blank">
                    <img ngSrc="icons/youtube.svg" height="20" width="20">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Telegram Panel -->
        <div class="col-auto col-sm-8 col-md" #telegram>
          <div class="card card-bg image-card image-card-border-bottom">
            <a (click)="joinTelegram()">
              <img ngSrc="images/telegram-artboard.jpg" height="510" width="340" class="card-img" alt="...">
              <div class="overlay overlay-smoky">
                <div>
                  <p class="overlay-text">
                    {{ 'home-telegram-panel-overlay-text' | translate }}
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>

        <!-- Casino Panel -->
        <div class="col-auto col-sm-8 col-md" #casino>
          <div class="card card-bg image-card image-panel-border">
            <a (click)="joinCommunity()">
              <img ngSrc="images/casino-artboard.jpg" height="510" width="340" class="card-img image-panel-border"
                   alt="...">
              <div class="overlay overlay-smoky image-panel-border">
                <div>
                  <p class="overlay-text">
                    {{ 'home-casino-panel-overlay-text' | translate }}
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>

        <!-- Fab -->
        <div class="d-md-none fixed-bottom d-flex justify-content-center mb-4 pb-4 z-3">
          <div class="mx-4 px-3">
            <div class="d-flex flex-row">
              <div class="dropup me-2">
                <button class="btn fab-button" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                        style="width: 44px !important;">
                  <span>{{ getSelectedLanguage().name }}</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  @for (language of getLanguages(); track language.id) {
                    <li>
                      <button class="btn fab-button mb-2" type="button" (click)="selectLanguage(language.id)"
                              style="width: 44px !important;">
                        <span>{{ language.name }}</span>
                      </button>
                    </li>
                  }
                </ul>
              </div>

              @if (activeCard === 1) {
                <button class="btn fab-button mx-auto px-3 px-sm-5" (click)="joinTelegram()">
                  <span class="pe-1">{{ 'home-telegram-panel-fab-text' | translate }}</span>
                  <img ngSrc="icons/telegram.svg" alt="" height="20" width="20">
                </button>
              }

              @if (activeCard === 2) {
                <button class="btn fab-button mx-auto px-3 px-sm-5" (click)="joinCommunity()">
                  <span class="pe-1">{{ 'home-casino-panel-fab-text' | translate }}</span>
                  <img ngSrc="icons/telegram.svg" alt="" height="20" width="20">
                </button>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
