

.layout-wrapper {
  margin: 0;
  padding: 1rem;
  background: radial-gradient(farthest-corner at 50% 100%, #ffffff 0%, #fd7914 0%, #f67513 0%, #000000 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  max-width: 1000px;
  height: auto !important;
  border-radius: 22px !important;
}

.text-card {
  position: relative;
  height: 100%;
}

.text-card-content {
  color: #fd7914;
  padding: 6rem 2rem 4rem ;

  /*border-bottom: 1px solid #707070;*/

  p.title {
    font-size: 38px !important;
    font-weight: 900 !important;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  p.description {
    font-size: 14px;
    z-index: 2;
    margin-bottom: 0;
  }
}

.text-card-icons {
  position: relative;
  padding: 2rem;

  a {
    display: inline-block;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    img {
      height: 28px;
      transition: fill 0.3s ease;
    }
  }
}

.image-card {
  position: relative;
  border: none;
  max-width: 400px;

  background: #121212 !important;

  img {
    object-fit: cover;
    transition: transform 0.3s ease;
  }
}

.image-card:hover .overlay {
  opacity: 1;
}

.image-card-border {
  border-bottom: 1px solid #707070;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fcfcfc;
  text-align: center;
  z-index: 1;
  width: auto;
  height: auto;
}

.overlay-smoky {
  backdrop-filter: blur(15px) brightness(65%);
  background: rgba(17, 17, 17, 0.6);
}

.overlay-text {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

.fab-button {
  z-index: 1050;

  border-radius: 22px;
  border: none;

  color: #fd7914;
  transition: all 0.3s ease;

  /* Pill shape and padding */
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  background-blend-mode: normal;
  backdrop-filter: blur(37px) brightness(65%) !important;

  span {
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
    font-weight: bold;
  }

  img {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 768px) {
  .card-container {
    margin: 4rem 0.5rem 0;
  }

  .text-card-content {

    padding: 6rem 2rem 0;

    p.title {
      font-size: 34px;
    }

    p.description {
      font-size: 14px;
    }
  }

  .overlay {
    display: none !important;
  }

  .image-card:hover img {
    transform: none !important;
  }

  .text-card {
    position: relative;
  }

  .image-card-border-bottom {
    border-bottom: 1px solid #707070;
  }

  .image-card-border-top-radius {
    border-top-left-radius: 22px !important;
    border-top-right-radius: 22px !important;
  }

  .image-card-border-bottom-radius {
    border-bottom-left-radius: 22px !important;
    border-bottom-right-radius: 22px !important;
  }
}

@media (min-width: 768px) {
  .fab-button {
    display: none !important;
  }
}
